@charset "UTF-8";

#cookieConsent {
    background-color:  #618358;
    font-size: 20px;
    padding: 50px;
    padding-top: 150px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    z-index: 9999;
}
